.todos-cont {
    flex: 2;
    overflow: auto;
    padding: 10px;
    height: 95%;
}

.btn-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0 4px;
}

.btn-complete {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

li {
    list-style: none;
    text-align: left;
}

.single-todo { 
    position: relative;
    padding: 30px 15px;
    border: 1px solid #909090;
    border-radius: 5px;
    background-color: rgb(255, 255, 102);
    width: 100%;
}

.single-todo-active {
    outline: 3px solid coral;    
}

.single-todo + .single-todo {
    margin-top: 10px;
}