.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #606060;
    height: 5vh;
}

ul {
    list-style: none;
}

.menu-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    cursor: pointer;
}